# BEGIN AnyFont
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /nowinhighfidelity/
RewriteRule ^images/(.*)/(.*)\.png$ /nowinhighfidelity/wp-content/plugins/anyfont/img.php [L]
</IfModule>

# END AnyFont


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
