body {
    margin: 0;
    padding: 0;
    font: 12px Helvetica, san-serif;
}
#mother{		
width: 820px;
padding: 0;
margin-right:auto;
margin-left:auto;
}
#danzig {
	width: 810px;
       background-image: url("http://cityreliquary.com/pics/back_back.gif") repeat;
	background: url(http://cityreliquary.com/pics/back_back.gif);
	padding: 0;
	margin-right:auto;
	margin-left:auto;
       float:left;
}
#jonny {
		width: 650px;
		padding-left: 40px;
              padding-right: 40px;
              padding-bottom: 40px;
		margin-left: 0px;
		float: left;
		background: #eee;
		}

html>body #jonny {
		width: 650px;
		padding-left: 40px;
              padding-right: 40px;
              padding-bottom: 40px;
		margin-left: 0px;
		float: left;
		background: #eee;
		}

#bobby {
		width: 731px;
		padding: 0px;
		margin-left: 18px;
		float: left;
		background: #eee;
		}

html>body #bobby {
		width: 731px;
		padding: 0px;
		margin-left: 35px;
		float: left;
		background: #eee;
		}


#suban {
              width: 690px;
		padding: 20px;
		float: left;
              background: #eee;
		}

html>body #suban {
		width: 690px;
		padding: 20px;
		float: left;
		background: #eee;
		}


#danzig2 {
	width: 760px;
       background: #EEDDBB;
       padding: 20px;
       margin-right:auto;
	margin-left:auto;
       float:left;
}
		
#bobby2 {
		width: 650px;
		margin-left: 35px;
		float: left;
              background-color: #EEDDBB;
		}

html>body #bobby2 {
		width: 800px;
		margin-left: 55px;
	margin-bottom:7px;
		float: left;
		background-color: #EEDDBB;
		}
#teddy {
		width: 650px;
		padding: 20px;
margin-right:auto;
margin-left:auto;
		background: #fff;
		}
#bann {
    width:800px;
	margin: 0;
    padding: 0;
	float:left;
}
#navi {
    width:800px;
    margin: 0;
    padding: 0;
    float:left;
}	
#contentright {
		width:175px;
		padding:20px;
		float:left;
		background:#FFFFFF;
		}

#contentheader {
		background:#fff
		}

a {  
    color: #663300;
	text-decoration: none;
}

a:link {
	color: #663300;
}

a:visited {
	color: #996633;
}

a:active {
	color: red;
}

a:hover {
	text-decoration: underline;
	cursor: hand;
}

h1 {
	text-align: center;
	padding: 0 0 0 0;
	margin: 0;
}

h2  {               font-family: geneva, arial, sans-serif;
	                         color:#666666;
		                  font-size:12px;
                                font-weight:bold;
  		                  padding:2px;
                                padding-left:5px;
                                margin-top: 0px;
                                margin-left: 0px;	
                                margin-right: 0px;			
  		                  background:#EAEAEA;
                                border: #CCCCCC; 
                                border-style: solid; 
                                border-top-width: 1px; 
                                border-right-width: 1px; 
                                border-bottom-width: 1px; 
                                border-left-width: 1px;	
}

h4  {              font-family: geneva, arial, sans-serif;
	                         color: #888855;
		                  font-size: 10px;
                                font-weight:normal;
  		                  padding: 10px;	
                                margin-left: 15px;	
                                margin-right: 15px;
  		                  background: #eeeebb;
                                border-top: solid 0px #777744;
	                         border-bottom: solid 0px #777744;
                                border-left: solid 1px #777744;
	                         border-right: solid 1px #777744;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav a {
	font-weight: bold;
	color: #000000;
}

#nav a {
	text-decoration: none;
}

#nav li li a {
	display: block;
	font-weight: normal;
	padding: 3px;
}

#nav li li a:hover {
    background: #EEEEEE;
    color: #663300;
}

li {
	float: left;
	position: relative;
	width: 160px;
	text-align: center;
	background-color: #EEDDBB;
	cursor: hand;
}

li#sub {
    float: left;
	position: relative;
	width: 200px;
	text-align: center;
	background-color: #EEDDBB;
	cursor: hand;

}

li#last {
}

li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	font-weight: normal;
	background-color: #EEDDBB;
	padding: 0 0 0 0;
	border-right: solid 1px #7d6340;
	border-left: solid 1px #7d6340;
	border-bottom: solid 1px #7d6340;
}

li>ul {
	top: auto;
	left: auto;
}

li li {
	display: block;
	float: none;
	background-color: transparent;
	border: 0;
}

li:hover ul, li.over ul {
	display: block;
}

hr {
	display: none;
}

p {
	clear: center;
	padding: 0 0 0 0;
	margin: 0;
}
img{
border: 0;
}

div.accent {
	float: left;
	margin-right: 0px;
	padding: 0px;
}

div.subhead  {           font-family: gill sans, geneva, arial, sans-serif;
	                         text-transform: uppercase;
letter-spacing: 2px;
                                color:#FFFFFF;
		                  font-size:12px;
                                font-weight:bold;
                                padding-left:12px;
                                padding-right:10px;
                                padding-top:16px;
                                padding-bottom:7px;
                                margin-top: 0px;
                                margin-left: 0px;	
                                margin-right: 0px;			
  		                  background:#AA8855;
                                border: #764F23; 
                                border-style: solid; 
                                border-top-width: 0px; 
                                border-right-width: 0px; 
                                border-bottom-width: 1px; 
                                border-left-width: 0px;
}


div.subhead2  {         font-family: helvetica, geneva, arial, sans-serif;
	                         color:#663300;
		                  font-size:14px;
                                font-weight:bold;
  		                  padding:2px;
                                padding-left:0px;
                                margin-top: 0px;
                                margin-left: 0px;	
                                margin-right: 0px;
                                background: #ddddaa;			
                                border: #663300; 
                                border-style: solid; 
                                border-top-width: 0px; 
                                border-right-width: 0px; 
                                border-bottom-width: 0px; 
                                border-left-width: 0px;
              line-height:150%;
}




#blogpic {                  
                                padding: 10px; 
                                 background: #FFFFFF;
                                 border: solid 5px #FFFFFF;

                          }

div.blogentry {
		font-family: helvetica, arial, sans-serif;
		font-size: 12px;
              font-weight:normal;
  		padding-left : 15px; 
              padding-right : 15px; 
              padding-top : 15px;	
              padding-bottom : 10px;
              margin-left: 0px;	
              margin-right: 0px;
  		background: #FFFFFF;
              border-top: solid 1px #7d6340;
	       border-bottom: solid 1px #7d6340;
              line-height:150%;
  		
		}

div.blogbody {            color : #000000; 
                                 font-size : 12px; 
                                 font-weight : normal; 
                                 line-height:150%;
                                 padding-left : 0px; 
                                 padding-right : 0px; 
                                 padding-top : 0px; }
#foot {
    width:800px;
	margin: 0;
    padding: 0;
	float:left;
}
#foot2 {
       width:800px;
       padding:20px;
       margin-top: 20px;
	margin-left:60px;
       margin-bottom: 30px;
	float:left;
}

div.foott {
       font-family: helvetica, geneva, arial, sans-serif;
       color:#663300;
       font-size:11px;
      background-color: #EEDDBB;
}